<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Vitsitietokanta</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        
        <a href="/logout">Kirjaudu ulos</a>
        <a href="/tags">Näytä tägit</a>
        
        <h1>Vitsitietokanta</h1>

        <ul>
            <li th:each="joke : ${jokes}">
                <a th:href="@{/jokes/{id} (id=${joke.id})}" th:text="${joke.otsikko}">linkki vitsiin</a>
            </li>
        </ul>

        <h2>Lisää uusi vitsi</h2>

        <form th:action="@{/jokes}" th:method="POST">
            <p>Otsikko: <input type="text" name="otsikko"/></p>
            <p>Sisältö: <input type="text" name="sisalto" /></p>
            <select id="tags" name="tags" multiple="multiple">
                <option th:each="tag : ${allTags}"
                        th:value="${{tag}}"
                        th:text="${tag.nimi}">Tägi</option>
            </select>
            <input type="submit" value="Lisää"></input>
        </form>

    </body>
</html>
