<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Vitsitietokanta</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    </head>

    <body>
        <a href="/logout">Kirjaudu ulos</a>
        <a href="/jokes">Näytä vitsit</a>

        <h1>Vitsitietokanta</h1>

        <ul>
            <li th:each="tag : ${tags}">
                <span th:text="${tag.nimi}">Tagi</span>
            </li>
        </ul>

        <h2>Lisää uusi tägi</h2>

        <form th:action="@{/tags}" th:method="POST">
            <p>Nimi: <input type="text" name="nimi"/></p>
            <input type="submit" value="Lisää"></input>
        </form>

    </body>
</html>
